/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(40deg 14.29% 95.88%);
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 95%;
  max-width: 100%;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}

/* DEBUG */

.debug * {
  background-color: brown;
  border: 1px dashed black;
  padding: 10px;
}

/* HEADER */

.page-header {
  font-family: "Nerko One", cursive;
  color: hsl(33.45deg 99.16% 53.53%);
  text-shadow: 1px 1px 2px #222;
  text-align: center;

  background-color: white;

  padding: 0.5rem;
}

.page-header h1 {
  font-size: 3rem;
}

/* MAIN */

/* VIDEO SECTION */

.video-section .category {
  font-weight: 400;
  color: #a1a1a1;
  margin: 1rem 0 0.5rem 0;
}

.video-section .recipe-title {
  color: hsl(266.25deg 29.63% 31.76%);
  margin-bottom: 1rem;
}

/* CARD */

.card {
  background-color: white;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.video {
  width: 100%;
  aspect-ratio: 1.75;
}

.recipe-summary-container {
  padding: 2rem;
}

.recipe-summary-container h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.video-section .summary-item {
  margin-bottom: 1rem;
}

/* SOCIAL MEDIA SECTION */

.social-media-section .container {
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
}

.social-media-section .social-media-icon {
  box-shadow: 0px 0px 10px 2px #ddd;
  background-color: white;
  padding: 10px 15px;
  border-radius: 30px;
}
.fa-facebook {
  color: hsl(214.01deg 90.04% 52.75%);
}
.fa-twitter {
  color: hsl(204.66deg 100% 53.73%);
}
.fa-instagram {
  color: hsl(343.94deg 72.57% 65.69%);
}
.fa-pinterest {
  color: hsl(0deg 79.67% 51.76%);
}
.fa-youtube {
  color: hsl(0deg 79.67% 51.76%);
}

/* BANNER */

.banner-section img {
  width: 100%;

  margin-bottom: 2rem;
}

/* PRESENTATION SECTION */

.presentation-section h2 {
  font-size: 2rem;
  font-weight: 500;
}

.presentation-section hr {
  width: 5rem;
  color: hsl(31.34deg 92.63% 57.45%);
  margin: 1rem 0;
  border: 1px solid currentColor;
}

.img-container {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 2px #ddd;
}

.presentation-section p {
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding: 1rem 0 3rem 0;
}

/* FOOTER */

.page-footer {
  text-align: center;
  padding: 2rem 0;

  color: white;
  background-color: hsl(259.32deg 24.48% 52.75%);
}

.page-footer .company-name {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.page-footer .company-address {
  font-weight: 400;
  font-size: 1rem;
}

.page-footer .link-container {
  padding: 1rem 0;
}

.page-footer .link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;
}

.page-footer .link-item {
  display: inline-block;

  text-decoration: underline;
}

/* MEDIA QUERY */

@media screen and (min-width: 576px) {
  .img-container {
    float: left;
    margin: 1rem;
  }

  .social-media-section .social-media-icon {
    padding: 10px 35px;
  }
}

@media screen and (min-width: 768px) {
  /* ---- utils ---- */
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-flex {
    display: flex;
  }
  /* ---- * ---- */
  .page-header {
    text-align: left;
  }

  .container {
    width: 90%;
  }

  .video-section .recipe-title {
    font-size: 2rem;
  }

  .video-section .card .summary-points {
    flex-wrap: wrap;
    gap: 2rem;
  }

  .social-media-section .social-media-icon {
    padding: 10px 50px;
  }

  .img-container {
    float: left;
    margin: 1rem;
  }
}

@media screen and (min-width: 992px) {
  /* utils */
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-flex {
    display: flex;
  }
  /* ---- * ---- */

  .container {
    width: 75%;
  }

  .video-section .recipe-title {
    font-size: 3rem;
  }

  .video-container {
    flex-basis: 70%;
  }

  .recipe-summary-container {
    flex-basis: 30%;
  }

  .social-media-section .social-media-icon {
    padding: 10px 35px;
  }

  .page-footer {
    text-align: left;
    padding: 2rem;
  }

  .footer-container {
    justify-content: space-between;
  }
}
