/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(40deg 14.29% 95.88%);
}

/* UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 95%;
  max-width: 100%;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}

/* DEBUG */

.debug * {
  background-color: brown;
  border: 1px dashed black;
  padding: 10px;
}

/* HEADER */

.page-header {
  font-family: "Nerko One", cursive;
  color: hsl(33.45deg 99.16% 53.53%);
  text-shadow: 1px 1px 2px #222;
  text-align: center;

  background-color: white;

  padding: 0.5rem;
}

.page-header h1 {
  font-size: 3rem;
}

/* MAIN */

/* VIDEO SECTION */

.video-section .category {
  font-weight: 400;
  color: #a1a1a1;
  margin: 1rem 0 0.5rem 0;
}

.video-section .recipe-title {
  color: hsl(266.25deg 29.63% 31.76%);
  margin-bottom: 1rem;
}

/* CARD */

.card {
  background-color: white;
}

.video {
  width: 100%;
  aspect-ratio: 1.75;
}

.recipe-summary-container {
  padding: 2rem;
}

/* SOCIAL MEDIA SECTION */

.social-media-section .container {
  justify-content: space-between;
  align-items: center;
}

/* PRESENTATION SECTION */

/* FOOTER */

.page-footer {
  text-align: center;

  color: white;
}

.page-footer .link-item {
  display: inline-block;

  text-decoration: underline;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px) {
  /* ---- utils ---- */
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-flex {
    display: flex;
  }
  /* ---- * ---- */
}

@media screen and (min-width: 992px) {
  /* utils */
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-flex {
    display: flex;
  }
  /* ---- * ---- */
}
